.game {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 36px;
  overflow: hidden;

  position: relative;
  z-index: 1;

  background: var(--gameColor);

  &__info {
    display: flex;
    justify-content: end;
    height: 58px;
    padding: 12px 16px;
    width: 100%;
    z-index: 2;
  }

  &__ratio {
    font-weight: 700;
    font-size: 28px;
    color: #efeff4;
  }

  &__circle-container {
    margin: 0 auto;
    flex: auto;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 12;
  }

  &__modale-container {
    margin: 0 14px 8px;
    z-index: 2;
  }

  &__addition {
    font-weight: 500;
    font-size: 11px;
    color: #ecf7fb;
  }
  &__froget {
    display: flex;
    flex: 1;
    align-items: center;
    z-index: 20;
  }

  &__frog {
    height: 290px;
    width: 100%;
    z-index: 20;
    background: center / 50% no-repeat
      url('../../assets/img/frog-ezgif.com-gif-to-apng-converter.png');
  }
  .carousel {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    &__container {
      position: relative;
      flex: 1;
    }
    &__cloud1 {
      position: absolute;
      left: 70.5%;
      top: -10%;
      width: 28px;
      height: 21px;
      background: center / contain no-repeat
        url('../../assets/img/small-cloud.png');
      animation: diagonalScroll 1s linear infinite;
    }
    &__cloud2 {
      position: absolute;
      left: 110%;
      top: 0;
      width: 77px;
      height: 45px;
      background: center / contain no-repeat
        url('../../assets/img/big-cloud.png');
      animation: diagonalScroll2 2s linear infinite;
    }
    &__cloud3 {
      position: absolute;
      top: -10%;
      left: 30%;
      width: 65px;
      height: 47px;
      background: center / contain no-repeat
        url('../../assets/img/middle-cloud.png');
      animation: diagonalScroll3 1s linear infinite;
    }
    &__cloud4 {
      position: absolute;
      left: 100.5%;
      top: -20%;
      width: 28px;
      height: 21px;
      background: center / contain no-repeat
        url('../../assets/img/small-cloud.png');
      animation: diagonalScroll4 2s linear infinite;
    }
    &__cloud5 {
      position: absolute;
      top: 60%;
      left: 105%;
      width: 77px;
      height: 45px;
      background: center / contain no-repeat
        url('../../assets/img/big-cloud.png');
      animation: diagonalScroll5 2s linear infinite;
    }
    &__cloud6 {
      position: absolute;
      top: 30%;
      left: 120%;
      width: 65px;
      height: 47px;
      background: center / contain no-repeat
        url('../../assets/img/middle-cloud.png');
      animation: diagonalScroll6 3s linear infinite;
    }
  }

  &__flyFromButton {
    animation: flyFromBottom 0.6s linear;
  }

  &__flyTopRight {
    animation: flyToTopRight 0.6s linear;
  }
}

@keyframes diagonalScroll {
  100% {
    left: -25%;
    top: 55.5%;
  }
}
@keyframes diagonalScroll2 {
  100% {
    left: -15.5%;
    top: 90.5%;
  }
}
@keyframes diagonalScroll3 {
  100% {
    left: -30%;
    top: 30%;
  }
}
@keyframes diagonalScroll4 {
  100% {
    left: -25%;
    top: 70.5%;
  }
}
@keyframes diagonalScroll5 {
  100% {
    left: 35%;
    top: 100%;
  }
}
@keyframes diagonalScroll6 {
  100% {
    left: 0%;
    top: 105%;
  }
}


@keyframes flyToTopRight {
  to {
    transform: translate(120%, -120%) rotate(180deg);
  }
}

@keyframes flyFromBottom {
  from {
    transform: translate(-50%, 120%);
  }
}
