.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px 0 13px;
  height: 0;
  border-radius: 36px;
  background-color: var(--primary300Color);
  overflow: hidden;
  z-index: 30;
  transition: all 0.6s ease;

  &__line {
    position: absolute;
    top: 4px;
    left: 50%;
    height: 3px;
    border-radius: 100px;
    border: none;
    width: 77px;
    background-color: var(--primeTextColor);
    transform: translateX(-50%);
  }

  &__slider {
    margin-top: 14px;
  }
}

.visible {
  padding: 16px;
  height: 72px;
  .slider__slider {
    margin-top: 0px;
  }
}
