.slider {
  padding: 16px;
  height: 72px;
  min-height: 72px;
  border-radius: 36px;
  background-color: var(--primary300Color);
  overflow: hidden;
  z-index: 30;
  transform: translateY(58px);
  transition: all 0.6s ease;

  &__line {
    position: absolute;
    top: 4px;
    left: 50%;
    height: 3px;
    border-radius: 100px;
    border: none;
    width: 77px;
    background-color: var(--primeTextColor);
    transform: translateX(-50%);
  }
}

.visible {
  transform: translateY(0px);
}
