.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
  background-color: var(--primary400BgColor);

  &__buttons {
    display: flex;
    gap: 12px;
    justify-content: end;
  }

  &__back {
    transform: rotate(180deg);
  }

  &__profile {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

