.footer {
  position:relative;
bottom:0;
margin-top: auto;
  width: 100%;
  max-width: 640px;
  font-weight: 700;
  font-size: 22px;
  color: var(--primeTextColor);

  
&__continue{
  flex: 1;
  background-color:var(--primary400BgColor);
}

  &__rate-section {
  padding: 16px 16px 12px 16px;
  width: 100%;
  display: flex;
  gap: 12px;
  border-radius: 36px 36px 0 0;
  background-color: var(--primary400BgColor);
  }

  &__rate-management {
    position: relative;
    flex: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__add-substract {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background-color: #489cff;

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &__input {
    width: 100%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: var(--primeTextColor);
    font-weight: 700;
    font-size: 20px;

    &::placeholder {
      color: var(--primary200Color);
      opacity: 1;
    }

    &::-ms-input-placeholder {
      color: var(--primary200Color);
    }
}

  &__multiple-divide-section {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }

  &__math-buttons-container {
    display: flex;
    gap: 5px;
  }

  &__submit-btn {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #bcfe00;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 18px;

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:active {
      background-color: var(--secondary200Color);
    }
  }

  &__withdrawal {
    padding: 14px 16px;
    display: flex;
    gap: 15px;
    background-color: var(--footerWithdravalSectionBgColor);
  }

  &__multiplier {
    flex: 50%;
    padding: 12px 10px;
    height: 36px;
    display: flex;
    text-align: left;
    border-radius: 10px;
    color: #fff;
    background-color: var(--footerMultipleBtnBgColor);
    font-size: 14px;
    align-items: center;
  }

  &__accent-color {
    display: inline-block;
    padding-right: 8px;
    color: #bcfe00;
    font-weight: 600;
  }

  &__label {
    width: 100%;
  }

  &__input-multiplier {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
  }

  &__checkbox {
    flex: 50%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
  }

  &__checkbox-label {
    margin-right: 10px;
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 8px;
    border: 2px solid #fff;
  }

  &__input-checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__checked {
    background: center / cover url('../../assets/icons/checkbox-icon.svg') no-repeat;
    border: none;
  }
}

.error {
  &__message {
   /*  position: absolute; */
   /*  top: -11px;
    left: 5px; */
    font-size: 8px;
  }

  &__no-money {
    background-color: var(--danger200Color);
  }

  &__submit-btn {
    background-color: var(--checkboxShevronColor);
  }
}

.success {
  &__add-substract {
    padding: 10px 12px;
    display: block;
    background-color: var(--winInputBbColor);

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-weight: 600;

      span {
        font-size: 16px;
      }
    }
  }

  &__submit-btn {
    background-color: var(--winInputBbColor);

    &:active {
      background-color: var(--success300Color);
    }
  }
}

.loading {
  background-color: var(--checkboxShevronColor);
  color: var(--primeTextColor);
}
